<%- include('partials/head') %>

<h1>Lessons</h1>
<h2>Own playlists</h2>
<ul>
  <% playlists.forEach(playlist => { %>
    <li><%= playlist.title %></li>
  <% }) %>
  <li>Make a playlist!<span>Add your favorite stories in one playlist</span></li>
</ul>

<h2>All stories</h2>
<ul>
  <% stories.forEach(story => { %>
    <li>
      <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/<%= story.image.id %>?format=avif"
            type="image/avif">
        <source srcset="https://fdnd-agency.directus.app/assets/<%= story.image.id %>?format=webp"
            type="image/webp">
        <img src="https://fdnd-agency.directus.app/assets/<%= story.image.id %>?fit=cover&width=100&height=100"
            alt="story" width="100" height="100"
            onerror="this.onerror=null;this.src='images/sixoclock.png';">
        </picture>      
        <p><%= story.title %></p>
      <% story.audio.forEach(audio => { %>
        <audio controls>
          <source src="https://fdnd-agency.directus.app/assets/<%= audio.audio_file %>" type="audio/mp3" />
        </audio>
      <% }) %>
    </li>
  <% }) %>
</ul>


<%- include('partials/foot') %>